<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title>Document</title>
</head>

<body>
    <div class="main w-full min-h-screen bg-zinc-900 p-10">
        <a href=" " class="text-blue-500 inline-block mb-10">Go back to home</a>
    <form action="/edit/<%= filename %>" method="post">
               
    <input name="previous" 
           class="block w-1/4 rounded-md outline-none px-3 py-2 bg-zinc-800"
           type="text" 
           value="<%= filename %>">

    <input name="new" 
           class="block w-1/4 rounded-md outline-none px-3 py-2 bg-zinc-800 mt-2"
           type="text" 
           placeholder="New name">

    <input class="mt-2 bg-yellow-300 px-5 rounded-md py-3" 
           type="submit" 
           value="Update Name">
</form>
        
    </div>

</body>

</html>